@media only screen and (min-width: 320px) {
  #wander-safely {
    border: 5px solid;
    margin: 15px;
    padding: 5px 0px 5px 5px;
    text-align: left;
  }
  .introduction {
    padding-top: 125px;
  }
}
@media only screen and (min-width : 340px){
  #wander-safely {
    margin: 15px 30px 15px 30px;
  }
}
@media only screen and (min-width : 400px){
  #wander-safely {
    margin: 15px 50px 15px 50px;
  }
}
@media only screen and (min-width : 450px) {
  #wander-safely {
    margin: 15px 70px 15px 70px;
  }
}
@media only screen and (min-width : 480px) {
  #wander-safely {
    margin: 15px 90px 15px 90px;
  }
}
@media only screen and (min-width : 525px) {
  #wander-safely {
    margin: 15px 110px 15px 110px;
  }
}
@media only screen and (min-width : 565px) {
  #wander-safely {
    margin: 15px 130px 15px 130px;
  }
}
@media only screen and (min-width : 630px) {
  #wander-safely {
    margin: 15px 130px 15px 130px;
    padding: 15px 0px 15px 15px;
  }
}
@media only screen and (min-width : 660px) {
  #wander-safely {
    margin: 15px 150px 15px 150px;
    padding: 15px 0px 15px 15px;
  }
}
/* iPhone 5 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (orientation: portrait) {
    .introduction {
      padding-top: 110px;
    }
}
/* iPhone 6 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
    .introduction {
      padding-top: 150px;
    }
}
/* iPhone 6 Plus */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: portrait) {
    .introduction {
      padding-top: 170px;
    }
}
