/* Phones and Tablets */
@media (max-width: 576px) {
  .introduction {
    padding-top: 275px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
    left: 50%;
    margin-left: -145px;
    z-index: 500;
  }
  #intro{
    border: 5px solid;
    color: #F2F2F2;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    text-align: center;
  }
  .fa-angle-down {
    color: #FFF;
    font-size: 48px !important;
  }
  .arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -24px;
    z-index: 5;
  }
}
/*@media (min-width: 576px) {
  .introduction {
    padding-top: 225px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    z-index: 2;
  }
  #intro {
    border: 5px solid;
    color: #575757;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    text-align: center;
  }
  .fa-angle-down {
    color: #575757;
    font-size: 48px !important;
  }
  .arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -24px;
    z-index: 5;
  }
}

@media (min-width: 767px) {
  .introduction {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 225px;
    position: absolute;
    left: 50%;
    margin-left: -165px;
    z-index: 2;
  }
  .fa-angle-down {
    color: #575757;
    font-size: 48px !important;
  }
  .arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -24px;
    z-index: 5;
  }
  #intro {
    border: 5px solid;
    color: #575757;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    padding: 10px;
    text-align: center;
  }
}

@media (min-width: 991px) {
  .introduction {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 200px;
    position: absolute;
    left: 50%;
    margin-left: -170px;
    z-index: 2;
  }
  .fa-angle-down {
    color: #575757;
    font-size: 60px !important;
  }
  .arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -24px;
    z-index: 5;
  }
  #intro {
    border: 5px solid;
    color: #575757;
    font-family: 'Permanent Marker', cursive;
    font-size: 42px;
    padding: 10px;
    text-align: center;
  }
}

@media (min-width: 1199px) {
  .introduction {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 235px;
    position: absolute;
    left: 50%;
    margin-left: -215px;
    z-index: 2;
  }
  .fa-angle-down {
    color: #575757;
    font-size: 60px !important;
  }
  .arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -24px;
    z-index: 5;
  }
  #intro {
    border: 5px solid;
    color: #575757;
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    padding: 10px;
    text-align: center;
  }
}
 */
