/* Phones and Tablets */
@media (max-width: 576px) {
  #introduction {
    background-image: url("/img/forest.svg");
    height: 100vh;
  }
  .introduction {
    padding-top: 200px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    z-index: 2;
  }
  #intro {
    border: 5px solid;
    color: #575757;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    text-align: center;
  }
  .fa-angle-down {
    color: #f8f8f8;
    font-size: 48px !important;
  }
  .arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -24px;
    z-index: 5;
  }
}

@media (min-width: 576px) {
  #introduction {
    background-image: url("/img/forest1.svg");
    height: 100vh;
  }
  .introduction {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 200px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    z-index: 2;
  }
  .fa-angle-down {
    color: #f8f8f8;
    font-size: 48px !important;
  }
  .arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -24px;
    z-index: 5;
  }
  #intro {
    border: 5px solid;
    color: #575757;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    text-align: center;
  }
  #forest1 {
    z-index: -1;
  }
}
