@media (max-width: 576px) {
  #introduction {
    background-image: url("/img/forest.svg");
    height: 100vh;
  }
  .introduction {
    padding-top: 200px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    z-index: 2;
  }
/*  #cloud1 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 130px;
    left: -200px;
    z-index: 1;
  }
  #cloud2 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 250px;
    left: -500px;
    z-index: 1;
  } */
}
